@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root 
{
    --grey: #262626;
    --black:  #0d0d0d;
}
{ 
     margin: 0;
     box-sizing: border-box;
     padding: 0;
}

body 
{
    width:100vw;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #ffffff;
    background: linear-gradient(160deg,var(--grey), var(--black));
    
}

.baza  
{
   
 height: 90%;
 width: 85%;
 padding: 24px 92px;
 border-radius: 70px;
 background: rgb(0, 0, 0, 0.65);
 backdrop-filter: blur(20px);
 position: relative;
 -webkit-backdrop-filter: blur(20px);


}
.logo
{
    position: absolute;
    top:15.5%;
    left: 6%;
    
}
.dance
{
    position: absolute;
    top:70%;
    left: 75%;
    
}
.sub
{
    position: absolute;
    top:0%;
    left:25%;
    animation: bass 0.47s linear infinite;
}
 @keyframes bass
 {
     from {height: 1000px;}
     to {height: 950px;}
     from {width: 1000px;}
     to {width: 950px;}
     from {left:24%}
     to {left:25%}
 }
 .tekst
 {
    position: absolute;
    top:0%;
    font-family: 'Audiowide', cursive;
    font-size: large;
 }
 .playlsity
{



}
h1
{
    font-size: 120px;
    font-family: 'Bungee Shade', cursive;
    top: 2%;
}
h5
{
    font-size: 12px;
}

.przycisk
{
    background-color:blueviolet;
}
.definicje
{
    left:12%;
}
h6
{
    font-size: 30px;
    font-family: 'Bungee Shade', cursive;
}
.canvas{
    width: 600px;
    height: 500px;
    margin: 50px auto;
    text-align: center;
    box-sizing: border-box;
}

.bulb-off{
    width: 265px;
    height: 400px;
    background: url('red.jpg') no-repeat;
    margin: auto;
}

.bulb-on{
    width: 265px;
    height: 400px;
    background: url('bluwe.jpg') no-repeat;;
    margin: auto;
}

